<div class="nav-bar">
    <div class="container">
        <div class="ninecol">
            {% include main-menu.liquid %}
        </div>
        <div class="threecol">
            {% include search-form.liquid %}
        </div>
    </div>
</div>