<div class="form-search">
    {% form 'search' %}
        <fieldset>
            <legend class="sr-only">Search</legend>
            <div class="search-control">
                <label for="Keyword" class="sr-only">Keyword</label>
                <input type="search" name="keyword" id="Keyword" class="search-query" placeholder="Search" value="{{ search.keyword }}">
                <button type="submit" class="btn-faux-link btn-search">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </fieldset>
    {% endform %}
</div>