<html>
    <head>
        <title>{{ store.display_name }}</title>
        {{ content_for_header }}
    </head>
    <body>
        <h1>helo</h1>
        {% include nav-bar.liquid %}
        {% block contents %}{% endblock %}
        {{ content_for_footer }}
    </body>
</html>
